<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    style
      include css/style.css
  </head>
  <body>
    <div class="topmenu">
      <a href="/"><button> &laquo; Back to home</button></a>
      <a href="/open"><button>Open</button></a>
      <a href="/new_file"><button>+ Create New</button></a>
      <a href="/" target="_blank"><button>+ New Tab</button></a>
    </div>
    <hr>
    <div class="content">
      <h1>This is a very good text editor</h1>
      <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, nam maiores fuga illo cum tenetur aspernatur nihil, incidunt architecto ut dolor animi quaerat adipisci. Nobis cum aspernatur corporis dolorem fuga repellat omnis, itaque ut vero quis eos maxime illum quae! Autem, dolore, corporis. Numquam perspiciatis vero sed iure unde quis obcaecati aperiam eligendi omnis tempore vitae quae facere deserunt, maxime possimus modi in quod a dolorem necessitatibus atque, sunt optio illo!</p>
    </div>
  </body>
</html>