<!DOCTYPE html>
<html>
  <head>
    <title>Open files</title>
    style
      include css/style.css
  </head>
  <body>
    <div class="topmenu">
      <a href="/"><button> &laquo; Back to home</button></a>
      <a href="/open"><button>Open</button></a>
      <a href="/new_file"><button>+ Create New</button></a>
      <a href="/" target="_blank"><button>+ New Tab</button></a>
    </div>
    <div class="main-block content">
      <form class="" action="/" method="post">
        <h1>Open</h1>
        <br>
        <label id="icon" for="name"></label>
        <input type="text" name="name" placeholder="File path" required/>
        <br>
        <button type="submit">Open File</button>
      </form>
    </div>
  </body>
</html>